{% extends 'miro/base.html' %}
 {% block content %}
 	<header>
		<div>
			<nav class="main-header">
				<ul>
					<a href="{% url 'clock' %}?skip=0"><li><span>홈</span></li></a>
					<a href="{% url 'message_view' %}" ><li id=click>메시지</li></a>
					<a href="{% url 'schedule_view' %}"><li>일정</li></a>
					<a href="{% url 'store_view' %}"><li>스토어</li></a>
					<a href="{% url 'subway_view' %}"><li>지하철</li></a>
					<a href="{% url 'logout_view' %}"><li id="logout_btn">로그아웃</li></a>
				</ul>
			</nav>

	</header>
	{% for messaged in messages.message %}
	<tr>
		<li class='message'><td class='sender'>From.{{messaged.senderID}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td class='time'>{{messaged.date_time|slice:"5:16"}}</td></li>
		<li class='messages'><td><textarea class='message' readonly>{{messaged.contents}}</textarea></td></li>

	</tr>

	{% endfor %}

 {% endblock %}