{% extends 'miro/base.html' %}
 {% block content %}
  	<header>
		<div>
			<nav class="main-header">
				<ul>
					<a href="{% url 'clock' %}?skip=0"><li><span>홈</span></li></a>
					<a href="{% url 'message_view' %}" ><li>메시지</li></a>
					<a href="{% url 'schedule_view' %}"><li id=click>일정</li></a>
					<a href="{% url 'store_view' %}"><li>스토어</li></a>
					<a href="{% url 'subway_view' %}"><li>지하철</li></a>
					<a href="{% url 'logout_view' %}"><li id="logout_btn">로그아웃</li></a>
				</ul>
			</nav>

	</header>
	{% for scheduled in schedules.schedule %}
	<tr>
		<li class='schedule'><td>{{scheduled.date_time|slice:"5:16"}}</td></li>
		<li class='schedule'><td><textarea class='schedule' readonly>{{scheduled.contents}}</textarea></td></li>
	</tr>
	{% endfor %}
 {% endblock %}