{% extends 'miro/base.html' %}
 {% block content %}
  	<header>
		<div>
			<nav class="main-header">
				<ul>
					<a href="{% url 'clock' %}"><li><span>HOME</span></li></a>
					<a href="{% url 'message_view' %}" ><li>메시지</li></a>
					<a href="{% url 'schedule_view' %}"><li id=click>일정</li></a>
					<a href="{% url 'store_view' %}"><li>스토어</li></a>
					<a href="{% url 'logout_view' %}"><li id="logout_btn">로그아웃</li></a>
				</ul>
			</nav>

	</header>
	{% for scheduled in schedules.schedule %}
	<tr>
		<p><td>날짜 : {{scheduled.date_time}}</td></p>
		<p><td>내용 : <textarea style="color: white; background-color: black; resize:none;" label="asd" readonly>{{scheduled.contents}}</textarea></td></p>
	</tr>
	{% endfor %}
 {% endblock %}