{% extends 'miro/base.html' %}
 {% block content %}
   	<header>
		<div>
			<nav class="main-header">
				<ul>
					<a href="{% url 'clock' %}"><li><span>홈</span></li></a>
					<a href="{% url 'message_view' %}" ><li>메시지</li></a>
					<a href="{% url 'schedule_view' %}"><li>일정</li></a>
					<a href="{% url 'store_view' %}"><li id=click>스토어</li></a>
					<a href="{% url 'subway_view' %}"><li>지하철</li></a>
					<a href="{% url 'logout_view' %}"><li id="logout_btn">로그아웃</li></a>
				</ul>
			</nav>
	</header>
	<div class="store_sort">
	{% for store in stores.store %}
	<div class="store_all">
		<a href="{{store.link}}" class="text_hide">
	<tr>
		<td><img src="{{store.imageLink}}"></td>
		<div class="content">
		<span class="title"><td id="store_title">{{store.title}} </td></span>
		<p class="author"><td>{{store.developerID}} </td></p>
		<p class="desc"><td>{{store.contents}} </td></p>
	</div>
	</tr>
	</a>
</div>
	{% endfor %}
</div>
 {% endblock %}