body{
	background-color: black;
}
body::-webkit-scrollbar { 
    display: none; 
}

h2{
	color: white;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#textcolor {
    color: white;
 }
.loginform{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:white;
 }
 p{
 	color: white;
 }
.loginform{
	text-align: center;

 }
.registform{
	text-align: center;
}
nav.main-header{
	left:0px;
	width:100%;
	height: 80px;
	display: inline-block;
	z-index:999;
	text-align: center;
	background-color: #9ccc65;
	padding: -1px;
}
nav.main-header ul li{
	display: inline-block;
	list-style: none;
	margin: 0;
	left:0px;
	height: 64px;
	padding:0 2%;
	width: auto;
	position: relative;
	background-color: #9ccc65;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
	color: #fff;
	font-size: 25px;
}
nav.main-header ul li a {
	text-decoration: none;
	border: none;
	font-size: 20px;
	color: #fff;
}
li.message{
	color:#fff;
	list-style: none;
}
textarea.message{
	border :none;
	background-color: #8bc34a; 
	resize:none;
	color : black;
	opacity: 0.9;
	border-radius: 5px;
}
#click{
	background-color: #8bc34a;
}
#logout_btn{
	position: absolute;
	width: 70px;
	font-size:15px;
	right:20px;
	left:80%;
}
li.login{
   list-style: none;
}

#loginIMG{
   position:relative;
   z-index: 1;
   top:4px;
   left:20px;
   width:500px;
   height: 340px;
   left:170px;
}

#loginID{
   position:relative;
   z-index: 2;
   top:107px;
   left:260px;
}

#loginPW{
   position:relative;
   z-index: 2;
   top:137px;
   left:260px;
}

#loginSIGNINBTN{
   position:relative;
   z-index: 2;   
   top:170px;
   left:175px;
   width:160px;
   height:35px;
   opacity: 0.0;
}

#loginSIGNUPBTN{
   position:relative;
   z-index: 2;
   top:230px;
   left:450px;
   width:160px;
   height:35px;
   opacity: 0.0;
}

#signupIMG{
   position:relative;
   z-index: 1;
   top:0px;
   left:20px;
   width: 70%;
   height: 70%;
}

#signupID{
   position:relative;
   z-index: 2;
   top:89px;
   left:250px;
}

#signupPW{
   position:relative;
   z-index: 2;
   top:114px;
   left:250px;
}

#signupNAME{
   position:relative;
   z-index: 2;
   top:137px;
   left:250px;
}

#signupSIGNUPBTN{
   position:relative;
   z-index: 2;
   top:245px;
   left:240px;
   width:350px;
   height:35px;
   opacity: 0.0;
}
.charfieldClass{
   width:100%;
   height:30px;
   border-style: none;
   font-size: 22px;
}
.store_all{
	width: 180px;
	background: #c5e1a5;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
	margin: 10px;
	font-family: Arial,sans-serif;
	display: inline-table;
}
.store_all img{
	width: 100px;
	height: 100px;
}
.store_all .content{padding: 10px;}
.store_all p{margin: 7px 0;}
.store_all .title{color: #333;font-size: 18px;}
.store_all .price{color: #ed3b3b;float:right;}
.store_all .author{font-size: 16px;}
.store_all .desc{font-style: italic;font-size: 14px;color: #616161;}