body{
	background-color: black;
	overflow-y: hidden; 
	overflow-x: hidden;
}
h2{
	color: white;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#textcolor {
    color: white;
 }
.loginform{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:white;
 }
 p{
 	color: white;
 }
.loginform{
	text-align: center;

 }
.registform{
	text-align: center;
}