body{
	background-color: black;
	font-family: 'Jua', sans-serif;
}
body::-webkit-scrollbar { 
    display: none; 

}

h2{
	color: white;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#홈extcolor {
    color: white;
 }
.loginform{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:white;
 }
 p{
 	color: white;
 }
.loginform{
	text-align: center;

 }
.registform{
	text-align: center;
}
nav.main-header{
	left:0px;
	width:100%;
	height: 70px;
	display: inline-block;
	z-index:999;
	text-align: center;
	background-color: #123782;
	padding: -1px;
	border-radius: 5px;
}
nav.main-header ul li{
	display: inline-block;
	list-style: none;
	margin: 0;
	left:0px;
	height: 54px;
	padding:0 2%;
	width: auto;
	position: relative;
	background-color: #123782;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
	color: #fff;
	font-size: 20px;
	#font-weight: bold;
}
nav.main-header ul li a {
	text-decoration: none;
	border: none;
	font-size: 20px;
	color: #fff;
}
li.message{
	color:#fff;
	list-style: none;
	font-size:21px;
}
textarea.message{
	border :none;
	background-color: #d1c4e9; 
	resize:none;
	font-size:20px;
	color : black;
	opacity: 0.9;
	font-family: 'Jua', sans-serif;
	border-radius: 5px;
	padding:5px;
}
li.schedule{
	color:#fff;
	list-style: none;
	font-size:21px;
}
textarea.schedule{
	border :none;
	background-color: #d1c4e9; 
	resize:none;
	font-size:20px;
	color : black;
	opacity: 0.9;
	font-family: 'Jua', sans-serif;
	border-radius: 5px;
	padding:5px;
}
#click{
	background-color: #b39ddb;
}
#logout_btn{
	position: absolute;
	width: 70px;
	font-size:15px;
	right:20px;
	left:80%;
}
li.login{
   list-style: none;
}

#loginIMG{
   position:relative;
   z-index: 1;
   top:4px;
   left:20px;
   width:500px;
   height: 340px;
   left:170px;
}

#loginID{
   position:relative;
   z-index: 2;
   top:107px;
   left:260px;
}

#loginPW{
   position:relative;
   z-index: 2;
   top:137px;
   left:260px;
}

#loginSIGNINBTN{
   position:relative;
   z-index: 2;   
   top:170px;
   left:175px;
   width:160px;
   height:35px;
   opacity: 0.0;
}

#loginSIGNUPBTN{
   position:relative;
   z-index: 2;
   top:230px;
   left:450px;
   width:160px;
   height:35px;
   opacity: 0.0;
}

#signupIMG{
   position:relative;
   z-index: 1;
   top:0px;
   left:20px;
   width: 70%;
   height: 70%;
}

#signupID{
   position:relative;
   z-index: 2;
   top:89px;
   left:250px;
}

#signupPW{
   position:relative;
   z-index: 2;
   top:114px;
   left:250px;
}

#signupNAME{
   position:relative;
   z-index: 2;
   top:137px;
   left:250px;
}

#signupSIGNUPBTN{
   position:relative;
   z-index: 2;
   top:245px;
   left:240px;
   width:350px;
   height:35px;
   opacity: 0.0;
}
.charfieldClass{
   width:100%;
   height:30px;
   border-style: none;
   font-size: 22px;
}
.text_hide {color:transparent; text-show: none; background-color:transparent; border:0}
.store_all{
	width: 180px;
	background: #e1f5fe;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
	margin: 10px;
	#font-family: Arial,sans-serif;
	display: inline-table;
	height: 240px;
	border-radius: 5px;
}
.store_all img{
	width: 100px;
	height: 100px;
	border-radius: 5px;
	margin: 10px;
}
.store_all .content{padding: 10px;}
.store_all p{margin: 7px 0;}
.store_all .title{color: #333;font-size: 18px;}
.store_all .author{font-size: 16px;}
.store_all .desc{font-style: italic;font-size: 14px;color: #616161;}
.subway_all{
	color:white;
}

#homeIMG{
   position:absolute;
   top:100px;
   left:170px;
   width:40px;
   height:40px;
}

#lineIMG{
   position:absolute;
   top:100px;
   left:240px;
   width:120px;
   height:40px;
}

#subwayIMG{
   position:absolute;
   top:100px;
   left:380px;
   width:40px;
   height:40px;
}

#line2IMG{
   position:absolute;
   top:100px;
   left:450px;
   width:120px;
   height:40px;
}

#subway2IMG{
   position:absolute;
   top:100px;
   left:590px;
   width:40px;
   height:40px;
}

#homeFont{
   position:absolute;
   top:60px;
   left:172px;
}

#depFont{
   position:absolute;
   top:60px;
   left:363px;
}

#destFont{
   position:absolute;
   top:60px;
   left:575px;
}

#subway_all{
	position:relative;
	top:30px;
	left:30px;
	width:400px;
	height:400px;
}

.week{
	position:absolute;
	font-size:25px;
	left:10%;
}

.home{
	position:absolute;
	font-size:25px;
	left:21%;
}

.homeTime{
	position:absolute;
	font-size:25px;
	left:33%;
}

.departure{
	position:absolute;
	font-size:25px;
	left:48%;
}

.destination{
	position:absolute;
	font-size:25px;
	left:59%;
}

.endTime{
	position:absolute;
	font-size:25px;
	left:73%;
}